<% content_for :title do %>Events<% end %>
<div class="row">
    <div class="container-fluid">
      <div class="centralised">  
        <br>
        <%= image_tag "logo_small.png" %>
       <h1> Upcoming EVENTS </h1>
        <%= image_tag "icon.png" %>
       <div class="centralised">
       <div class="line"> 
    <h2> Justin Robertson Art Show </h2>
</div>
</div>
    </div>
   </div>
<br>
<br>
<div class="right">
  <%= image_tag "justin.jpg" %>
 </div> 
<p>A Fantastical Journey Into Outer Everywhere. We were delighted to be showing Justins Art Show last October.  
Justin Robertson, a restless creative kind of fellow, known for his genre bending DJ sets and fearless recorded output, is also a painter . Following a critically acclaimed show at London’s Neu Gallery, Justin has taken his pictures on tour to Manchester, Leeds, Stockholm and now back to London.
<span>
  Expect an exploration into a fantastical world where the human mind is turned outwards searching for mystery in these prescriptive times rallying against the certainties of our scientific era, this collection celebrates the possibilities of the imagination, as well as touching on the two subjects all good art should… Death and Monsters.  Themes include magik, possession, the supernatural, fantastical creatures, the history of belief, irrationality, past times and cultures, uncertainty and alien lifeforms…
<br>
Justin draws on a variety of influences from mid 20th century science fiction, dystopian literature, Stone Age cave painting, folk art, fantastical creatures from the medieval era through to the golden periods of Elizabethan and Jacobean exploration, the trashy covers of 60’s and 70’s sci-fi fiction, ancient Greek myth, a healthy reverence for the Hammer Horror series, in fact anywhere that imagination is allowed to explore beyond the known, to create its own vision of reality, a pallet of fear, mystery and wonder.</p>
<br>
<div class="centralised"> 
  <%= image_tag "icon.png" %>
<br>
<h2>Prosecco Tasting Invitation Arts Club East</h2>
<br>
</div>
<div class="left">
  <%=image_tag "window.png" %>
 </div> 
<p>  We would like to invite you to come and sample two sparkling wines from the Treviso region of Italy. This is an opportunity to source truly splendid drinks direct from the supplier at an obvious cost saving. These products are not available through any other retailer, be it online or otherwise.  Tasting Notes Prosecco D.O.C. brut, millesimato, San Simone ''Perlae Bianche'' Fine, delicate and persistent. Pale straw-yellow colour with greenish hint. A complex fruity fragrance, creamy with a pleasant verve. Can be enjoyed throughout the meal, particularly recommended with prosciutto di San Daniele, speck of Sauris.Serving temp. ideal at 6-8°C.Prosecco D.O.C. brut '' Terra La Serena ''Bright straw color with a greenish tint. Aromatic bouquet of wine, intense, with pleasant fruity flavor. Crisp frothy freshness on the finish. it's a mouth-watering aperitif; a great party fizz served with canapes and appetisers and makes a great bellini when you add a little peach puree.Serving temp. 6-7°C.  Come and meet the distributor, who can deliver to your door direct from the vineyard, and the team bringing quality and education to the idea of a “cheap alternative to Champagne”. Your Christmas drinks will never be the same (price) again. Come join us from 6pm till 9pm at Arts Club East</p>
<br>
<div class="centralised">
  <%= image_tag "icon.png" %>
<h2>Harrodsburg.</h2>
 </div>
<br>
<p>
<div class="left">
<%= image_tag "harrodsburg.jpg" %>
</div>
<p>We hosted Dougie Wallace’  Print Space opened October's Photomonth in style, by hosting Dougie Wallace's Harrodsburg Exhibition   The growing wealth divide; a visual journey through the most pressing social issue of our modern times.  Employing his trademark wit and keen eye for the absurd, Wallace has produced an uncompromisingly revealing series of pictures which satire the super rich and their spending habits in uncomfortably intimate, gaudy detail.</p>
<br>
<p>
The exhibition and the after party was had at ours.
</p>
<br>
<div class="centralised">
  <%= image_tag "icon.png" %>
<h2>SYLVIA PLATH FAN CLUB</h2>
 </div>
<br>
<h3>Kirsty Alison hosts this wonderful night of spoken word and performance art twice monthly.</h3>
<br>
<p>Words (stolen or otherwise) from the gorgeously rebellious mouths of Gail Porter (bigger than any politician, projected on Parliament in the 90s, the former kids’ TV presenter hurtled through a rockstar marriage and the bedlam which ensued – exclusive preview from her forthcoming book), Kelli Ali (once upon a time there was a band called the Sneaker Pimps, but punk bands before that, and so much since – pure poet, dying by the sword), Anne McCloy (she has the answers, Some Product, artist, professor, everything), Tony White (true gent of London’s literary scene, author of novels including Foxy-T, much published, amazing mind), Erik Stein (Cult With No Name, recently completed the hugely lauded Blue Velvet Revisited soundtrack, film to follow next year), Gil De Ray (rock n roll’s finest), Gary Fairfull (the guv’nor), Kirsty Allison
 A smile in the light in your window! </p>
<br>
<p>Whilst talking with Gary on a trip to see the new place. We began discussing how art could be displayed in the new club. During the conversation the windows became a subject as a possibility. That is how the piece came into being .Gary had a few things he was keen to have in the Irish proverb “It is in the shelter of each other that people live”.  was one and also a Bloomsbury and musical theme well the music didn’t quite make it in , hopefully the music of the play of light will act as a tincture to all other sounds. Going with Bloomsbury we have an image of Virginia Wolf and the   Mark Gertler painting Merry-Go-Round 1916 is echoed in the window a number of times. 'There is a fair on behalf of the wounded soldiers today, and myriads of the wounded, in their bright blue uniforms and red scarves, and bands, and swing boats, and a whole rowdy enjoyment. It is queer.' both the colors and his remarking the odd contrast between wounded soldiers and public enjoyment. It s play on the social roundabout but also the painting speaks clearly about the horror of mechanized war!  As we know Gary is all about Peace. Sometimes the world is not as we would like! Other pieces include some Baudelaire quotes form Fleur du Mal. I have been working on a large project based on these poems some of the quotes and my flowers found their way in. There is of course an Oscar Wilde quote. As well as Theda Bara one of the most popular actresses of the silent era, and one of cinema's earliest sex symbols. Her femme fatale roles earned her the nickname The Vamp. I like to think she is holding a glass of absinthe hence the green fairy alpine landscape she has been spirited into whilst smoking a herbal cigarette .Which leads us on nicely to the Hunter S.Thopmson window! “Buy the ticket take the ride” well will you! And remember the cracks let the light in.</p>
<br>
<div class="centralised"> 
  <%= image_tag "icon.png" %>
 </div> 
</div>
