<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <%= image_tag "logo.png" %>  
    <h3>WHAT SHOULD GO HERE?</h3>
    <%= link_to 'Download PDF', products_path('product.pdf'), class: 'btn btn-success btn-large' %>
  <% end %>
<% else %>
  <div id="welcome" class="span7">
    <%= image_tag "logo.png" %>    
  <h3>A members club in the ''art of London.</h3>
   <%= link_to 'Application Form', new_user_registration_path(plan: 'silver'), :class => 'btn btn-primary' %>
        </div>

  </div>
<% end %>
  